recursive-exclude tests *
recursive-exclude docs *
exclude doc8.ini Dockerfile.cterasdk-build .flake8 .gitignore Makefile .pylintrc skipper.yaml test-requirements.txt tox.ini ut-requirements.txt
global-exclude *.py[cod]
