requests>=2.23
requests-toolbelt
cryptography~=41.0.3
packaging~=23.1
colorama~=0.4.6
setuptools~=68.0.0
virtualenv~=20.24.3
wheel~=0.40.0
pip~=23.2.1
platformdirs~=3.10.0
urllib3~=2.0.4
certifi~=2023.7.22
idna~=3.4
chardet~=5.2.0
pycparser~=2.21
munch~=4.0.0